* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20px;
    font-family: Gotham-Medium;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    padding: 1.1rem;
}

#header-nav ul li a {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #000;
}

#header-nav ul li {
    margin-left: 2.6rem;
    position: relative;
}

#header-nav ul li:hover ::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 70%;
    height: 0.2rem;
    background-color: #bd945f;
}

#header-nav .fa-solid.fa-bars {
   display: none; 
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1280px;
    }
}

@media (min-width: 767.98px) and (max-width: 999.98px) {
    #header-nav ul li {
        margin-left: 0.5rem;
    }
}

@media (max-width: 576px) {
    /* header {
        position: relative;
    }
    #header-nav{
        display: flex;
        align-items: center;
    }

    #header-nav .fa-solid.fa-bars {
        display: block;
    } */

    /* #header-menu {
        display: none !important;
    } */
    #header-nav .fa-solid.fa-bars {
        display: block;
      
    }
    /* body{
        position: relative;
    } */
    #header-nav  {
        position: relative;
        /* top: 100%; */
        left: 0;
        display: block;
        width: 100%;
    }
    #header-menu li{
        text-align: center;
        margin-left: 0 !important;
    }
    #header-menu{
        position: absolute;
        top: 0;
        left: 0;
        /* transform: translate(0, 0%); */
        display: block !important;
        width: 100%;
        height: 100vh !important;
        justify-content: center;
        /* margin: auto; */
        /* background-color: chartreuse; */
    }
    #header-nav ul li:hover ::before {
        width: 10%;
        left: 50%;
        transform: translateX(-50%)
    }

   
}   