* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

ol,
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}

.d-flex{
    display: flex;
}
.flex-end{
    justify-content: flex-end;
}

.container{
    width: 1600px;
    margin: auto;
}

.cl-orange{
    color: rgb(255, 63, 0);
}

.cl-green{
    color: rgb(69, 173, 14);
}
.cl-white{
    color: #fff;
}
.font-b{
    font-weight: bold;
}

.in-hoa{
    text-transform: uppercase;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-20{
    width: 20%;
}
.col-80{
    width: 80%;
}
.w-100{
    width: 100%;
}
.col-25{
    width: 23%;
}
